import Rule from "../../Library/Validators/Rule";
import BaseValidator from "../../Library/Validators/BaseValidator";

export default class <%= name %>Validator extends BaseValidator
{
    public getRules(): Rule[]
    {
        return [
            new Rule('example', 'default', '[a-zA-Z]+', false),
        ];
    }
}
