.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(183, 201, 208, 0.05);
}

.caption {

    .header {
        font-family: Roboto, serif;
        font-size: 26px;
        color: #6F93A6;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        background-color: rgba(183, 201, 208, 0.4);
    }

    .subheader {
        font-family: Roboto, serif;
        font-weight: lighter;
        font-size: 13px;
        text-align: center;
        color: #6F93A6;
        margin: 0;
        padding: 10px;
        background-color: rgba(183, 201, 208, 0.3);
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 10px;
        background-color: rgba(183, 201, 208, 0.05);

        &:nth-child(2n + 1) {
            background-color: rgba(183, 201, 208, 0.1);
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: #809ba8;
            cursor: default;

            & .item__data {
                color: white;
            }

            & .item__header {
                color: white;
            }
        }
    }
}

.item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item__header {
    font-family: "Roboto", serif;
    color: #3c5264;
}

.item__data {
    font-family: "Roboto Light", serif;
    font-weight: lighter;
    color: #3c5264;
}
