.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(183, 201, 208, 0.1);
}

.title-bar {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 22px;
    background-color: #14161B;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li {
        display: inline-block;
        width: 50%;
        height: 100px;
        box-sizing: border-box;
        padding: 15px 10px 10px 10px;
        text-align: center;

        background-color: rgba(183, 201, 208, 0.1);
        border: solid #5F5A6A 1px;

        &:hover {
            background-color: #809ba831;
            cursor: default;
        }

        i {
            color: #26242B;
            display: inline-block;
            margin-top: 9px;
        }
    }
}

.item__header {
    display: block;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 13px;
    color: #BAB8BF;
}

.item__data {
    display: block;
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 16px;
    color: #BAB8BF;
}

.footer {
   position: absolute;
   bottom: 2%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;

   font-family: "Roboto", serif;
   font-weight: lighter;
   font-size: 13px;
   color: #BAB8BF;
}
