<div class="container">
    <div class="title-bar"></div>
    <ul>
        <li>
            <span class="item__header">Battery</span>
            <span class="item__data">{{ phone.battery }}%</span>
            <i class="fa fa-1x fa-battery-half"></i>
        </li>
        <li>
            <span class="item__header">Name</span>
            <span class="item__data">{{ phone.name }}</span>
            <i class="fa fa-1x fa-signature"></i>
        </li>
        <li>
            <span class="item__header">Manufacturer</span>
            <span class="item__data">{{ phone.manufacturer }}</span>
            <i class="fa fa-1x fa-building"></i>
        </li>
        <li>
            <span class="item__header">Device Name</span>
            <span class="item__data">{{ phone.deviceName }}</span>
            <i class="fa fa-1x fa-tablet"></i>
        </li>
    </ul>
    <div class="footer">
        © Aleksa Sukovic
    </div>
</div>
